.react-datepicker__month-container {
  width: 325px;
  padding-bottom: 16px;
  min-height: 307px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  border-radius: 12px;
}

.react-datepicker__header {
  background-color: #fff;
  border-top-left-radius: 12px;
  padding-top: 16px;
  border-bottom: none;
  padding-bottom: 0;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}

.react-datepicker__current-month {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-color-black);
  margin-bottom: 20px;
}

.react-datepicker__day-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-color-grey);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.react-datepicker__day {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--primary-color-black);
}

.react-datepicker__navigation--next {
  top: 12px;
  right: 12px;
}

.react-datepicker__navigation--previous {
  top: 12px;
  left: 12px;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--primary-color-black);
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}

.react-datepicker__month {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-datepicker__week {
  width: 293px;
  display: flex;
  justify-content: space-between;
}
